html * {
  font-family: 'Open Sans', sans-serif;
}

.red-bg {
  background: #E26889;
}

.blue-bg {
  background: #67CAE2;
}

.orange-bg {
  background: #E2B367;
}

.purple-bg {
  background: #A568E2;
}

.salad-bg {
  background: #8BE268;
}

.yellow-bg {
  background: #E2E268;
}

.source-lists,
.jstree-anchor {
  background: #f5f5f5;
}

.dnd-list {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  }

  > * {
    height: 90vh;
  }
  .tab-pane > div {
    max-height: 38vh;
  }
}

#actions_list,
#condition_list,
#flows_list {
  .jstree-node,
  .jstree-icon {
    background: none;
  }

  .jstree-icon {
    display: none;
  }

  .source-list-title-container {
    display: flex;
  }
}

#actions_list,
#condition_list {
  & > .jstree-container-ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
  }

  .source-list-title-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .jstree-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 4px 5px;
    margin-bottom: 5px;

    &.jstree-hovered {
      background: #ffffff;
    }

    .title-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 45px;
      min-height: 45px;
      margin-bottom: 0.25em;
      color: #fff;
    }

    .title {
      font-size: 0.7em;
      line-height: 1.8em;
      color: #999999;
    }

    i {
      display: none;
    }
  }

  .jstree-node {
    max-width: 33%;
    min-width: 70px;
    flex-grow: 1;
    width: 100%;
  }
}

#flows_list {
  max-height: 80vh;
  overflow: auto;

  .jstree-node {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .jstree-anchor {
    height: auto;
    padding: 4px 5px;
    width: 100%;
    min-width: 250px;
    line-height: 1.2em;
    background: #fbfbfb;

    .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .title-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      color: #ffffff;
      margin-right: 0.5em;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      flex-grow: 1;
    }

    .title {
      font-size: 15px;
      margin-bottom: 8px;
    }

    .title-filters {
      & > * {
        padding: 0px 4px;
        margin-right: .5em;
        font-size: 10px;
        background: no-repeat;
        border: 1px solid #3333;
        border-radius: 4px;

        & > *:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#target_flow_list {
  border: 2px solid #ececec;
  border-radius: 3px;

  .source-list-title-container {
    display: none;
  }

  .target-list-title-container {
    display: flex !important;
    align-items: center;

    > * {
      margin-right: 15px;
    }

    > *:last-child {
      margin: 0;
    }

    .target-list-title-label {
      padding: 4px 8px;
      color: #fff;
    }

    .target-list-title-item {
      padding: 4px 8px;
      font-size: 14px;
      border: 2px solid #dadada;
      border-radius: 3px;
    }
  }

  .jstree-children {
    position: relative;

    &:before {
      content: '';
      top: 0;
      left: 16px;
      position: absolute;
      display: block;
      width: 1px;
      height: calc(100% + 30px);
      background: #bdbdbd;
    }


    &:after {
      content: '';
      z-index: 1;
      left: 11px;
      bottom: -33px;
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: url("../images/svg/arrow.svg") bottom center no-repeat;
      background-size: contain;
    }


    &.jstree-container-ul {
      padding-bottom: 33px;
      padding-right: 10px ;
      overflow: auto;

      &:after, &:before,
      > .jstree-node:first-child:after,
      > .jstree-node:first-child:before {
        display: none;
      }

      > .jstree-node:first-child {
        padding-top: 30px;
      }
    }
  }

  .jstree-node {
    min-width: 500px;
    padding-left: 42px;
    background-image: none;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      margin-left: 16px;
      background: #bdbdbd;
    }

    &:after {
      content: '';
      top: 23px;
      left: 53px;
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: url("../images/svg/arrow.svg") bottom center no-repeat;
      background-size: contain;
    }

    .jstree-anchor {
      display: flex;
      height: auto;
      padding: 8px 8px;
      line-height: 1.2em;
      background: #f5f5f5;
      box-shadow: 2px 2px 2px #dadadada;
      border-radius: 5px;
    }

    &.jstree-open {
      > .jstree-icon {
        transform: rotate(-90deg);
      }
    }

    &.jstree-leaf {
      > .jstree-icon {
        background-image: none;
      }
    }

    .jstree-icon {
      position: absolute;
      top: 30px;
      left: 15px;
      background-image: url("../images/svg/menu.svg");
      background-size: 17px;
      background-position: center center;
      transition: all 0.2s ease-out;
    }
  }

  .jstree-custom-context-menu {
    top: 42px;
    right: 0.5em;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    color: #333333;
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 4px;
    cursor: pointer;

    span {
      position: relative;
      bottom: 5px;
    }
  }

  .jstree-details {
    position: absolute;
    top: 40px;
    right: 45px;
    padding: 5px;
    cursor: pointer;
    color: #5c9fd9;
  }

  .jstree-details-container {

    margin-top: 20px;

    .jstree-details-input {
      position: relative;
      margin-bottom: 5px;

      .jstree-details-input-label {
        top: -10px;
        left: 30px;
        position: absolute;
        padding: 0 4px;
        font-size: 16px;
        color: #808080;
        background: #fff;
      }

      textarea {
        width: 100%;
        padding: 1em;
        border: 1px solid #808080;
        border-radius: 5px;
      }
    }

    .jstree-details-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 14px;
        margin-right: 3px;
        color: #808080;
        background: #ffffff;
        border: 1px solid #dadada;
        border-radius: 4px;

        &:last-child {
          margin: 0;
        }

        &:hover {
          color: #000000;
        }
      }
    }
  }
}


#vakata-dnd {
  .jstree-copy {
    display: none !important;
  }
  .title-wrapper {
    display: flex !important;
    padding: 4px 10px;
    background: #d3ffff;
    border: 2px solid #4b72ff;
    border-radius: 5px;

    .source-list-title-container {
      display: none;
    }

    .target-list-title-container {
      display: flex !important;
      align-items: center;

      > * {
        margin-right: 15px;
      }

      > *:last-child {
        margin: 0;
      }

      .target-list-title-label {
        padding: 4px 8px;
        color: #fff;
      }

      .target-list-title-item {
        padding: 4px 8px;
        font-size: 14px;
        border: 2px solid #dadada;
        border-radius: 3px;
      }
    }
  }
}


  .custom-tabs {
    .nav-item {
      &:last-child {
        .nav-link {
          margin-right: 0;
        }
      }

      .nav-link {
        margin-right: 1.5em;
        color: #333333;
        border: none;

        &.active {
          color: #55c0a0;
          background: transparent;
          border-bottom: 3px solid #55c0a0;
        }
      }
    }

  }

  .custom-tab-content {
    .collapse-link {
      position: relative;
      margin-bottom: 0.5em;
      background: none;
      cursor: pointer;
      font-weight: 600;

      &.collapsed:before {
        transform: rotate(-90deg);
      }

      &:before {
        content: '';
        position: absolute;
        left: -12px;
        top: 5px;
        width: 10px;
        height: 10px;
        background: url('../images/svg/menu.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        transition: all 0.4s ease;
      }
    }
  }

  .vakata-context {
    z-index: 9;
    background: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 7px 0px #dadada;

    & > li {
      a:hover {
        position: relative;
        background-color: #e5e5e5;
        box-shadow: 0 0 2px #dadada;
      }

      & > a {
        .vakata-contextmenu-sep {
          display: none;
        }

        & > i:empty {
          display: none;
        }
      }
    }
  }

.jstree-node {
  position: relative;
}

.jstree-numbering {
  position: absolute;
  top: 0;
  left: 0;
}

